.contact-us-container {
  border-radius: 70px;
  background: #292f36;
  width: 1200px;
  margin: 93px auto;
  padding: 80px 315px;
}

.contact-text {
  padding: 30px 0;
  text-align: center;
  color: #fff;
}

.clr-white {
  color: #fff;
}

.bg-brown {
  background: #cda274;
  box-shadow: 0px 10px 20px 0px #1f2022;
}

.margin-15-auto {
  margin: 15px auto;
}
