.status-code {
  color: #cda274;
  font-family: DM Serif Display;
  font-size: 250px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 312.5px */
}

.main-container {
  height: 100vh;
}

.not-found-content {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 52.5px */
  letter-spacing: 0.35px;
}

.page-container img {
  border-bottom-left-radius: 353px;
}

.page-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  align-items: flex-start;
  gap: 55px;
}
